<% if current_user %>
  Welcome, back! <br>
  <%= link_to 'Log out', '/logout', method: :delete %>
  <% @users.each do |user| %>
  <h3><%= link_to "#{user.name}", "/dashboard/current_user" %>: <%= user.email %></h3>
  <% end %>
<% else %>
  <h1>Welcome to Viewing Party Lite</h1>
  <%= button_to 'Login', '/login', method: :get %>
  <%= button_to 'New User', '/register', method: :get  %>
<% end %>
